body{
    
    padding: 0px;
    margin: 0px;
    font-family: sans;
}
section{
    display: block;
}
a{
    text-decoration: none;
    color: rgb(247, 247, 52);
    
}
li{
    list-style: none;
}
label{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
    
}
input{
    border: 1px rgb(102, 102, 102) solid;
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    width: 100%;
}
p{
    width: 100%;
    text-align: center;
}
.home-header{
    position: relative;
    z-index: 1000;
    background: linear-gradient(to bottom,rgb(0, 0, 0),rgb(147, 168, 199));
    height: 150px;
}
.navbar{
    
    padding: 10px 20px 50px 20px;
    margin: 0px;
}
.navbar-logo{
    color: rgb(247, 247, 52);
    float: left;
    font-size:2em;
    margin-top: 10px;
    margin-left: 10px;

}
.nav-list{
    margin-right: 40px;
    margin-top: 20px;
    float: right;
    color: rgb(247, 247, 52);
}
.nav-list-item{
    margin-left: 20px;
    padding-bottom: 10px;
    position: relative;
    display: inline-block;
}
.new-account{
    background-color: rgb(147, 168, 199);
    padding: 60px 5px;
    
        
}
.create-account-section{
    background-color: white;
    max-width: 400px;
    min-width: 150px;
    display: block;
    margin: 0 auto;
    
    padding: 8px;
    clear: both;
    min-width: 300px;
}
#new_user>p>a{
    color:rgb(0, 78, 235);
}
#new_user>a{
    color:rgb(0, 78, 235);
    text-align: center;
    display: block;
}
#new_user{
    margin: auto;
    border: 1px black solid;
    display: block;
    padding: 30px;
    
}
.primary-btn{
    font-family: sans;
    font-size: 1.3em;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 0px;
    border-radius: 5px;
    border: 2px black solid;
    margin-left: 0 auto;
    font-weight: bold;
    display: block;
}

.main-footer{
    color: white;
    border: 1px black solid;
    background-color: rgb(67, 85, 109);
}

.footer-container{
    padding: 15px;
    
    min-width: 150px;
    max-width: 1050px;
    display: table;
    margin: 0 auto;
    
}
.small-col{
    position: relative;
    float: left;
    border: 2px black solid;
    height: 100px;
    width: 150px;
    display: block;
    
}
.small-col>ul{
    position: relative;
    margin: 10px;
    left: -30px;
}
.small-col>ul>li>p{
    position: relative;
    top: -15px;
}

.small-col-social{
    position: relative;
    float: left;
    border: 2px black solid;
    height: 100px;
    width: 170px;
    display: block;
    
    
}
.small-col-social>img{
    position: relative;
    left: 40px;
    top: 10px;
}
.external{
    position: relative;
    left: 0px;
    
}
.footer-legal{
    position: relative;
    font-size: .9em;
    display: block;
    width: 25%;
    min-width: 400px;
    border: 2px black solid;
    float: left;
    margin: auto;
}
.legal-note{
    position: relative;
    top:-5px; 
}

